<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
	<table>
		<th>
			
		</th>
	</table>

	<% for(const row of result ){ %>
		<ul>
			<li>
				<%= row.name %>
			</li>
		</ul>
	<% } %>

</body>
</html>